<?xml version="1.0" ?>

<robot name="artus_dex_left" xmlns:xacro="http://ros.org/wiki/xacro">
  	<xacro:include filename="artus_dex_left_macro.xacro"/>

	<link name="world_link"/>

	<joint name="world_to_base" type="fixed">
		<parent link="world_link"/>
		<child link="base_link"/>
		<origin xyz="0 0 0" rpy="1.57 0 0" />
	</joint>

	<link name="base_link"/>

	<xacro:artus_dex_left base_link="base_link"/>

</robot>
